<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbx.hcums.system.dao.CaptchaMapper">

    <resultMap id="BaseResultMap" type="com.zbx.hcums.system.entity.po.CaptchaPo">
            <id property="key" column="key"/>
            <result property="code" column="code" />
            <result property="createTime" column="create_time" />
            <result property="expireTime" column="expire_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        `key`,`code`,`create_time`,`expire_time`
    </sql>

    <select id="selectByKey" resultType="com.zbx.hcums.system.entity.po.CaptchaPo">
        select
        <include refid="Base_Column_List" />
        from system_captcha
        where `key` = #{key}
    </select>

    <delete id="deleteByKey">
        delete from system_captcha
        where `key` = #{key}
    </delete>

    <delete id="deleteByExpireTime">
        delete from system_captcha
        where `expire_time` &lt;= #{time}
    </delete>

    <insert id="insert" parameterType="com.zbx.hcums.system.entity.po.CaptchaPo">
        insert into system_captcha
        (`key`,`code`,`create_time`,`expire_time`)
        values (#{key},#{code},#{createTime},#{expireTime})
    </insert>

</mapper>
