<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbx.hcums.system.dao.PermissionMapper">

    <resultMap id="BaseResultMap" type="com.zbx.hcums.system.entity.po.PermissionPo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="isMenu" column="is_menu" jdbcType="TINYINT"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="PermissionVoMap" type="com.zbx.hcums.system.entity.vo.PermissionVo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="isMenu" column="is_menu" jdbcType="TINYINT"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <collection property="subList" column="id" select="selectSubTree"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,path,
        is_menu,parent_id,create_time,
        create_by,update_time,update_by
    </sql>
    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from A_permission
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from A_permission
    </select>

    <select id="selectSubTree" resultMap="PermissionVoMap">
        select
        <include refid="Base_Column_List"/>
        from A_permission
        where parent_id = #{id}
    </select>

    <select id="selectAllByTree" resultMap="PermissionVoMap">
        select
        <include refid="Base_Column_List"/>
        from A_permission
        where parent_id = 0
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete
        from A_permission
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zbx.hcums.system.entity.po.PermissionPo"
            useGeneratedKeys="true">
        insert into A_permission
        ( id, name, path
        , is_menu, parent_id, create_time
        , create_by, update_time, update_by)
        values ( #{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}
               , #{isMenu,jdbcType=TINYINT}, #{parentId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}
               , #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR})
    </insert>
    <update id="updateNameAndPathById">
        update A_permission
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                path = #{path,jdbcType=VARCHAR},
            </if>
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            update_by = #{updateBy,jdbcType=VARCHAR},
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
