<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbx.hcums.system.dao.UserRoleMapper">

    <select id="exists" resultType="java.lang.Boolean">
        select exists(select id from A_user_role where user_id = #{userId} and role_id = #{roleId})
    </select>

    <insert id="insert" parameterType="com.zbx.hcums.system.entity.po.UserRolePo">
        insert into A_user_role
        ( user_id, role_id
        , create_time, create_by)
        values ( #{userId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}
               , #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteUserRole">
        delete
        from A_user_role
        where user_id = #{userId}
          and role_id = #{roleId}
    </delete>

    <delete id="deleteByRole">
        delete
        from A_user_role
        where role_id = #{roleId}
    </delete>

</mapper>
