<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zbx.hcums.system.dao.UserPermissionMapper">


    <select id="exists" resultType="java.lang.Boolean">
        select exists(select id from A_user_permission where user_id = #{userId} and permission_id = #{permissionId})
    </select>

    <delete id="delete" parameterType="java.lang.Long">
        delete
        from A_user_permission
        where user_id = #{userId}
          and permission_id = #{permissionId}
    </delete>

    <delete id="deleteByPermissionId">
        delete
        from A_user_permission
        where permission_id = #{permissionId}
    </delete>

    <insert id="insert" parameterType="com.zbx.hcums.system.entity.po.UserPermissionPo">
        insert into A_user_permission
        ( user_id, permission_id
        , create_time, create_by)
        values ( #{userId,jdbcType=BIGINT}, #{permissionId,jdbcType=BIGINT}
               , #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR})
    </insert>
</mapper>
